@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(58, 58, 58)
}

#headline:hover #black-bg {
  opacity: 0.4;
}

.menu-on {
  display: block;
}
.menu-off {
  display: none;
}

.rotate-on {
  transform: translateY(-50%) rotate(0deg);
}

.rotate-off {
  transform: translateY(-50%) rotate(180deg);
}
